.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-header {
  height: 10vh;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  justify-content: space-between;
}
.Search-container {
  flex: 8;
  display: flex;
  margin: 10px;
  justify-content: center;
}

.Search-input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 40vw;
}

.Search-button {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  outline: none;
}

.Search-button:hover {
  background-color: #45a049;
}

.App-body {
  display: flex;
  background-color: #363c47;
}

.App-body-content {
  flex: 6; /* Fyller ut all tillgänglig vertikal plats */
  padding: 20px;
  overflow-x: auto;
}

.Body-sales {
  background-color: #282c34;
  margin: 10px;
  margin-bottom: 10vh;
  min-height: 50vh;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  position: relative;
}

.Card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #363c47;
  color: white;
}

.Card img {
  border-radius: 8px;
  width: 100%;
  max-height: 40vh;
  height: auto;
  display: block;
}

.Card-text {
  padding: 16px;
}

.Card-text h3 {
  margin-top: 0;
}

.Card-text p {
  margin-bottom: 0;
}

.Body-new-items {
  background-color: #282c34;
  margin: 10px;
  min-height: 40vh;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  position: relative;
}

.App-footer {
  margin-top: auto;
}

.Footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #282c34;
}

.Footer-content p {
  margin: 0;
  color: white;
}

/* Navigation.css */
.navigation {
  position: fixed; /* Använd fast positionering för att skapa en overlay */
  top: 10vh;
  left: 0;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #282c34;
  color: white;
  z-index: 1; /* Ange ett högt z-index-värde för att placera overlay över befintligt innehåll */
  transform: translateX(-100%); /* Göm menyn utanför vänsterkanten */
  transition: transform 0.3s ease; /* Lägg till en övergångseffekt */
}

.Head-nav-bar {
  flex: 2;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.menu-toggle {
  font-size: 50px;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block; /* Visa hamburgerikonen vid alla skärmstorlekar */
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

li {
  margin: 10px 0;
}

.navigation.open {
  transform: translateX(
    0
  ); /* Visa menyn genom att flytta den in från vänsterkanten */
}

@media (min-width: 600px) {
  .Head-nav-bar {
    flex: 2;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: none;
  }

  /* Justera stilen för större skärmar */
  .navigation {
    flex-direction: row; /* Ändra till radlayout när skärmen är tillräckligt stor */
    align-items: center;
  }

  .menu-toggle {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
  }
}

.Side-nav-bar {
  flex: 1;
  background-color: #282c34;
  margin: 10px;
  border-radius: 10px;
}
.Nav-list-content {
  width: 50vw;
}

.Nav-list {
  position: relative;
  border-radius: 5px;
  padding: 2%;
  background-color: #eceff4;
  list-style: none;
  font-size: large;
}

.Nav-list li {
  margin-bottom: 10px;
  position: relative; /* Lägg till position relative för att hålla dropdown inomför föräldern */
}

.Nav-list a {
  background-color: #45a049;
  text-decoration: none;
  position: relative;
  color: #4e0a0a;
}

.Dropdown-toggle {
  position: absolute;
  top: 0;
  right: -30px;
  background: none;
  border: none;
  cursor: pointer;
}

.Sub-nav {
  list-style: none;
  padding-left: 20px;
  display: none; /* Göm dropdown som standard */
}

.Sub-nav li {
  margin-bottom: 5px;
}

.Nav-list li:hover .Sub-nav {
  display: block; /* Visa dropdown när föräldern hovras över */
}
